.all_wrapper {
  margin-left: 120px;
}

.cards {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.menu {
  display: flex;
  flex-direction: row;
  padding: 0;
}

ul :first-child {
  list-style-type: none;
  margin-right: 22px;
}

.useful_link {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.title {
  font-weight: 500;
  font-size: 37px;
  line-height: 43px;
}

.description {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-top: 20px;
}

.btn {
  width: 170px;
  height: 40px;
  background: #cdb785;
  border: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin-left: 515px;
  margin-top: 50px;
}

@media (width: 768px) {
  .all_wrapper {
    margin-left: 60px;
  }

  .card_pic {
    width: 200px;
    height: 200px;
    background-size: cover;
  }

  .card {
    width: 200px;
    height: 250px;
  }

  .btn {
    width: 170px;
    height: 40px;
    background: #cdb785;
    border: none;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-left: 240px;
    margin-top: 50px;
  }
}
